<div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{ blog.image.path }}" class="img-fluid" />
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">
                {{ blog.content | slice(0, 120)}}
            </p>
        </div>
        <div class="card-footer">
            <a href="{{ path_for('home.blog', { 'slug': blog.slug }) }}" target="_blank" class="btn btn-primary">Preview</a>
            <a href="{{ path_for('admin.blog.update', { 'id': blog.id }) }}" class="btn btn-success">Edit</a>
            <a href="{{ path_for('admin.blog.delete', { 'id': blog.id }) }}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>